---

- name: Check whether user is already configured
  command: "{{ mc_command }} admin user info {{ minio_alias }} {{ user.name }} --json"
  register: get_user
  changed_when: false
  failed_when: false

- name: Create users
  command: "{{ mc_command }} admin user add {{ minio_alias }} {{ user.name }} {{ user.password }}"
  register: add_user
  when: (get_user.stdout | from_json)['status'] != "success"

- name: Create users policy file
  template:
    src: minio_policy.json.j2
    dest: "{{ minio_policy_dir }}/{{ user.name }}.json"
    owner: "{{ minio_user }}"
    group: "{{ minio_group }}"
    mode: 0640
  register: create_policy

- name: Add user policy
  command: "{{ mc_command }} admin policy create {{ minio_alias }} {{ user.name }} {{ minio_policy_dir }}/{{ user.name }}.json"
  register: add_policy
  when: create_policy.changed

- name: Get policies attached to user
  command: "{{ mc_command }} admin policy entities {{minio_alias }} --user {{ user.name }} --json"
  register: get_policies
  changed_when: false
  failed_when: get_policies.rc != 0 or (get_policies.stdout | from_json)['status'] != "success"

- name: Extract policies
  set_fact:
    user_policies: "{{ get_policies.stdout | from_json | community.general.json_query('result.userMappings[0].policies') | default([]) }}"

- name: Apply user policy
  command: "{{ mc_command }} admin policy attach {{ minio_alias }} {{ user.name }} -u {{ user.name }}"
  register: apply_policy
  when: user.name not in user_policies
