---

- name: Compose the Minio client download base url
  ansible.builtin.set_fact:
    _minio_client_download_url: "{{ minio_download_base_url }}/client/mc/release/linux-{{ go_arch }}/archive/mc.{{ minio_mc_version }}"

- name: Get the Minio client checksum for architecture {{ go_arch }}
  ansible.builtin.set_fact:
    _minio_client_checksum: "{{ lookup('url', _minio_client_download_url + '.sha256sum').split(' ')[0] }}"

- name: Download the Minio client
  ansible.builtin.get_url:
    url: "{{ _minio_client_download_url }}"
    dest: "{{ minio_client_bin }}"
    owner: "root"
    group: "root"
    mode: 0755
    checksum: "sha256:{{ _minio_client_checksum }}"
  register: _download_client
  until: _download_client is succeeded
  retries: 5
  delay: 2
