---
- name: Create private certificate
  community.crypto.openssl_privatekey:
    path: "certificates/{{ server_hostname }}_private.key"
    size: "{{ ssl_key_size | int }}"
    mode: 0644

- name: Create CSR
  community.crypto.openssl_csr:
    path: "certificates/{{ server_hostname }}_cert.csr"
    privatekey_path: "certificates/{{ server_hostname }}_private.key"
    common_name: "{{ server_hostname }}"
    subject_alt_name: "{{ subject_alt_names }}"

- name: Create certificates for keystore
  community.crypto.x509_certificate:
    csr_path: "certificates/{{ server_hostname }}_cert.csr"
    path: "certificates/{{ server_hostname }}_public.crt"
    privatekey_path: "certificates/{{ server_hostname }}_private.key"
    provider: selfsigned
