{{ ansible_managed | comment }}

# Minio local volumes.

MINIO_VOLUMES="{{ minio_server_datadirs | join(' ') }}"

# Minio cli options.
MINIO_OPTS="--address {{ minio_server_addr }}:{{ minio_server_port }} --console-address {{ minio_server_addr }}:{{ minio_console_port }} --certs-dir {{ minio_cert_dir }} {{ minio_server_opts }}"

{% if minio_root_user %}
# Access Key of the server.
MINIO_ROOT_USER="{{ minio_root_user }}"
{% endif %}
{% if minio_root_password %}
# Secret key of the server.
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"
{% endif %}

{% if minio_site_region %}
# Minio server region
MINIO_SITE_REGION="{{ minio_site_region }}"
{% endif %}

{{ minio_server_env_extra }}
