---
name: CI
'on':
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - master
      - main
  push:
    branches:
      - master
      - main
  schedule:
    - cron: "30 7 * * 3"
  workflow_dispatch:

defaults:
  run:
    working-directory: 'ricsanfre.minio'

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6
        with:
          path: 'ricsanfre.minio'

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install yamllint ansible ansible-lint

      - name: Lint code.
        run: |
          yamllint .

  molecule:
    name: Molecule (${{ matrix.scenario }} / ${{ matrix.distro.os }}-${{ matrix.distro.release }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scenario:
          - tls
          - cluster
          - site-replication
        distro:
          - os: ubuntu
            release: 22.04
          - os: ubuntu
            release: 24.04
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6
        with:
          path: 'ricsanfre.minio'

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible molecule molecule-plugins[docker] docker yamllint ansible-lint

      - name: Run Molecule tests.
        run: molecule test -s "${{ matrix.scenario }}"
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro.os }}
          MOLECULE_RELEASE: ${{ matrix.distro.release }}
